@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

header>nav>ul>li 
    {display: inline;
    border: 2px solid blue;
    margin: 0.5em;
    padding: 4px;}

footer {text-align: center;
    font-size: 70%;}

h1 {color: #09053dcb;
 font-family: 'Indie Flower', cursive;
font-size: 45px;
font-style: italic;}

body {background-color: #a3903bf1;
font-family: Arial, Helvetica, sans-serif;}
.marked {background-color: aqua;}
.recomendation{
    background-color: #e2610a;}
    

    .fashion designer {
        width: 100%
    }
    .img-sari h2 {
        padding: 30px 30px 20px;
        font-family: arial;
        font-size: 50px;
        color: #111;
        line-height: 44px;
    }
    .img-sari p{
        padding: 0px 30px 20px;
        font-family: arial;
        font-size: 16px;
        color: #111;
        line-height: 24px;
    }